@import "https://use.fontawesome.com/releases/v5.10.2/css/all.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --main-background: #58DF55;
  --main-background-shadow: #3a8b38;
  --main-font-color: #302f2f;
  --price-font-color: #337a32;
  --main-font-color-hover: #fff;

  --main-font-color-footer: #fff;
  --main-copyright-background: #337a32;

  --main-font-family-headings: Georgia, "Times New Roman", Times, serif;
  --main-font-family-body: Verdana, Geneva, sans-serif;
}

html,
body {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.5em;
  color: var(--main-font-color);
}

body,
input,
textarea {
  font-family: var(--main-font-family-body);
}

label,
button {
  font-family: var(--main-font-family-headings);
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font-family-headings);
  margin-top: 1em;
  line-height: normal;
  font-weight: normal;
  text-transform: capitalize;
  font-variant: small-caps;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.3em;
}

h3 {
  font-size: 2.0em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.2em;
}

a {
  outline: none;
  text-decoration: none;
  font-size: inherit;
}

li {
  list-style: none;
}

.fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

#app {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.required {
  color: #ff0000;
}